<div class="dashboard-page">
	<div class="left-list grid_layout_area">

		<div class="ui-side ui-side-withicon" id="sidebar">
			<ul class="ui-side-list nav nav-pills nav-stacked">
				
				<li class="ui-side-item active">
					<%= link_to dashboard_path, :class=>" ", remote: true  do %>
					<i class="glyphicon  glyphicon-home span-icon"></i>
					<span class=" span-text" href="">我的壹百万</span> 
					<% end %>
				</li>
				
				<li class="ui-side-item ">
					<%= link_to dashboard_purchases_path, :class=>" ", remote: true  do %>
					<i class="glyphicon glyphicon-list span-icon"></i> 
					<span class="span-text">采购单管理</span>
					<% end %>
				</li>
				
				<li class="ui-side-item ">
					<%= link_to dashboard_biddings_path, :class=>" ", remote: true  do %>
					<i class="glyphicon glyphicon-list span-icon"></i> 
					<span class="span-text">竞价单管理</span>
					<% end %>
				</li>
				
				
				<li class="ui-side-item ">
					<%= link_to dashboard_msg_path, :class=>" ", remote: true do %>
					<i class="glyphicon  glyphicon-envelope span-icon"></i>
					<span class="span-text">消息管理</span>
					<% end %>
				</li>
				
				<li class="ui-side-item ">
					<%= link_to dashboard_settings_path, :class=>" ", remote: true do %>
					<i class="glyphicon  glyphicon-cog span-icon"></i>
					<span class="span-text">设置</span>
					<% end %>
				</li>

			</ul>
			 
		</div>

	</div>
	
	<div class="right-area grid_layout_area">
		
		<%= render "dashboard/my_profile" %>
		
		 
	</div>

</div>