<div class="general-info-page">

	<%= render "layouts/breadcrumb" %>

	<!-- dash summary -->
	<div class="widget dash-summary">
		<div class="summary-left">
			<img src="../img/default_user_portrait.gif" class="user-comp-default">
			<p class="welcome-title">
				欢迎您，<b><%= @user ? @user.nickname : "" %></b>
			</p>
			<div class="my-profile">
				<%= link_to dashboard_profile_path, :class=>" ", remote: true  do %>
					<i class="glyphicon  glyphicon-home span-icon"></i>
					<span class=" span-text" href="">我的帐户</span> 
				<% end %>
			</div>
		
		</div>

		<ul class="summary-right">
			<li class="grid_1 alpha">
				<div class="grid-header alpha-header">
					<span class="text-big">竞价中采购单</span>
				</div>
				<div class="grid-body">
					<%= link_to dashboard_purchases_path(:breadcrumb_path_key => 'homepage,dashboard,myPurchase'), :class=>"grid-count", remote: true  do %>
					<span><%=@bidding_orders_count%></span>
					<% end %>个
				</div>
			</li>
			<li class="grid_1 beta">
				<div class="grid-header beta-header">
					<span class="text-big">待付款</span>
				</div>
				<div class="grid-body">
					<%= link_to dashboard_purchases_path(:breadcrumb_path_key => 'homepage,dashboard,myPurchase'), :class=>"grid-count", remote: true  do %>
					<span><%=@forpaid_orders_count%></span>
					<% end %>个
				</div>
			</li>

			<li class="grid_1 gamma">
				<div class="grid-header gamma-header">
					<span class="text-big">参与竞价采购单</span>
				</div>
				<div class="grid-body">
					<%= link_to dashboard_purchases_path(:breadcrumb_path_key => 'homepage,dashboard,myVending'), :class=>"grid-count", remote: true  do %>
					<span><%=@vendor_bidding_orders_count%></span>
					<% end %>个
				</div>
			</li>
			<li class="grid_1 omega">
				<div class="grid-header omega-header">
					<span class="text-big">采购商回复</span>
				</div>
				<div class="grid-body">
					<%= link_to dashboard_purchases_path(:breadcrumb_path_key => 'homepage,dashboard,myVending'), :class=>"grid-count", remote: true  do %>
					<span><%=@vendor_dealed_orders_count%></span>
					<% end %>个
				</div>
			</li>
		</ul>

	</div>

	<!-- widgets -->
	<div class="widget list-guide">
		<h5 class="guide-header">快捷操作</h5>

		<div class="opt-role">
			<h5>
				采购商
			</h5>
			<ul class="stepline-group">
				<li class="stepline-box">
					<div class="stepline-position stepline-circle alpha">
						<h4>1</h4>
						下单
					</div>
					<div class="stepline-content">
						功能：
						<br>
						<%= link_to orders_new_path(:breadcrumb_path_key => 'homepage,dashboard,createOrder'), :class=>"button guide-left-btn", remote: true do %>
						<span>+ 创建</span>
						<% end %>
						
					</div>
					</li>
				<li class="stepline-box">
					<div class="stepline-position stepline-circle alpha">
						<h4>2</h4>
						管理报价
					</div>
					<div class="stepline-content">
						功能：
						<br>
						<%= link_to dashboard_purchases_path(:breadcrumb_path_key => 'homepage,dashboard,myPurchase', 
							:tab_id => 'tab-my-purchase-bidding-orders'), :class=>"button guide-left-btn", remote: true do %>
						<span>查看报价</span>
						<% end %>
					</div>
				</li>
				<li class="stepline-box">
					<div class="stepline-position stepline-circle alpha">
						<h4>3</h4>
						付款
					</div>
					<div class="stepline-content">
						功能：
						<br>
						<%= link_to dashboard_purchases_path(:breadcrumb_path_key => 'homepage,dashboard,myPurchase', 
							:tab_id => 'tab-my-purchase-forpaid-orders'), :class=>"button guide-left-btn", remote: true do %>
						<span>采购单付款</span>
						<% end %>
					</div>
				</li>
			</ul>	
		</div>

		<div class="opt-role">
			<h5>
				供应商
			</h5>
			
			<ul class="stepline-group">
				<li class="stepline-box">
					<div class="stepline-position stepline-circle beta">
						<h4>1</h4>
						找单
					</div>
					<div class="stepline-content">
						功能：
						<br>
						<%= link_to orders_search_path(:search => ""), :class=>"button guide-right-btn", remote: true do %>
						<span>查找采购单</span>
						<% end %>
					</div>
					</li>
				<li class="stepline-box">
					<div class="stepline-position stepline-circle beta">
						<h4>2</h4>
						竞价
					</div>
					<div class="stepline-content">
						功能：
						<br>
						<%= link_to dashboard_vendings_path(:breadcrumb_path_key => 'homepage,dashboard,myVending', 
							:tab_id => 'tab-my-vending-bidding-orders'), :class=>"button guide-right-btn", remote: true do %>
						<span>竞拍</span>
						<% end %>
					</div>
				</li>
				<li class="stepline-box">
					<div class="stepline-position stepline-circle beta">
						<h4>3</h4>
						成交
					</div>
					<div class="stepline-content">
						功能：
						<br>
						<%= link_to dashboard_vendings_path(:breadcrumb_path_key => 'homepage,dashboard,myVending', 
							:tab_id => 'tab-my-vending-dealed-orders'), :class=>"button guide-right-btn", remote: true do %>
						<span>查看成交</span>
						<% end %>
					</div>
				</li>
			</ul>
			
		</div>

	</div>

</div>