<div class="all-forpaid-page">
	<h3>未能成功竞拍的订单</h3>

	<% @fail_bidding_orders.each do |order| %>
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">订单号: <%= order.order_num %></h3>
				
				<div class="algin_right row_margin">
					<%= link_to '详情 >>', order, remote: true %>
				</div>
			</div>
			<div class="panel-body">
				<%
				 og = order.order_goods[0]
				 item_info_text = og.order_item_info_str
				 bid_history_count = order.order_price_histories.count
				%>
				
				<div class="row_margin">
					采购: <%= item_info_text %>
				</div>
	
				<div class="row_margin">
					<span><%= bid_history_count %> 个竞拍 </span>
					<span>最新订单竞价: </span>
					<span class="highlight_text"> <%= order.order_price_histories[bid_history_count-1] ? order.order_price_histories[bid_history_count-1].price : "" %> 元 </span>
				</div>
	
				<div class="row_margin">
					<span class="algin_left"> <%= order.price %> 元 </span>
					<span class="algin_left"> 起拍 </span>
				</div>
				<div>
					<span class="algin_left"> 截止日期: </span>
					<span class="algin_left"><%= order.deadline ? order.deadline.strftime('%Y-%m-%d %H:%M')  : ""%> </span>
				</div>
	
			</div>
		</div>
	
	<% end %>

	<div class="pagination_area">
		<%= paginate @fail_bidding_orders, :remote => true  %>
	</div>
</div>