<!-- purchased orders  -->

<div class="my-vending-orders-page">
	<div class="tab-headers">
		<ul class="nav nav-tabs  tab-items">
			<li class="active" >
				<a href="#my_vending_bidding_orders" class="tab-item" role="tab" data-toggle="tab">
					 <i class="glyphicon glyphicon-sort-by-attributes-alt"></i> 竞价中</a>
				<!--   link_to "竞价中",  my_biddings_path, remote: true  -->
			</li>
			<li>
				<a href="#my_vending_dealed_orders" class="tab-item" role="tab" data-toggle="tab"> 
					<i class="glyphicon glyphicon-usd"></i> 已成交</a>
				<!--  link_to "已成交", {:controller => "orders", :action => "my_purchases", :status=> "2"}, remote: true   -->
			</li>

			<li>
				<a href="#my_vending_complete_orders" class="tab-item" role="tab" data-toggle="tab"> 
					<i class="glyphicon glyphicon-ok"></i> 已完成</a>
				<!--   link_to "已完成",  {:controller => "orders", :action => "my_purchases", :status=> "3"}, remote: true   -->
			</li>
			<li>
				<a href="#my_vending_all_orders" class="tab-item" role="tab" data-toggle="tab"> 
					<i class="glyphicon glyphicon-list"></i> 所有订单</a>
				<!--   link_to "所有订单",  my_all_orders_path, remote: true  -->
			</li>

			<li>
				<a href="#my_vending_failbidding_orders" class="tab-item" role="tab" data-toggle="tab">
					 <i class="glyphicon glyphicon-remove"></i> 未成交</a>
			</li>
		</ul>
	</div>

	<div class="tab-content">

		<div class="tab-pane active" id="my_vending_bidding_orders">
			<%= link_to  "刷新竞价中的订单",  dashboard_vendings_bidding_path, remote: true  %>
			<%= render "dashboard/my_vending_bidding_orders" %>

		</div>
		<div class="tab-pane" id="my_vending_dealed_orders">
			<%= link_to  "刷新成功竞拍的订单",  dashboard_vendings_dealed_path, remote: true  %>
			<%= render "dashboard/my_vending_dealed_orders" %>
		</div>

		<div class="tab-pane" id="my_vending_complete_orders">
			<%= link_to  "刷新已完成的订单",  dashboard_vendings_complete_path, remote: true  %>
			<%= render "dashboard/my_vending_complete_orders" %>
		</div>
		<div class="tab-pane" id="my_vending_all_orders">
			<%= link_to  "刷新所有竞拍订单",  dashboard_vendings_all_path, remote: true  %>
			<%= render "dashboard/my_vending_all_orders" %>

		</div>
		<div class="tab-pane" id="my_vending_failbidding_orders">
			<%= link_to  "刷新竞价失败的订单",  dashboard_vendings_biddingfail_path, remote: true  %>
			<%= render "dashboard/my_vending_failbidding_orders" %>
		</div>
	</div>

</div>