<div class="all-orders-page">
	<%= link_to  "刷新所有的订单",  dashboard_purchases_all_path, remote: true  %>


	<h3>我的所有采购单</h3>

	<% @all_orders.each do |order| %>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span>订单号: <%= order.order_num %> </span>
				<span class="highlight_text"> <%= get_order_status_text(order.status) %> </span> 
			</h3>
			
			<div class="algin_right row_margin">
				<%= link_to order_path({:id => order.id, :breadcrumb_path_key => 'homepage,dashboard,detail'}), :class=>" ",  remote: true  do %>					 
					<span class="span-text">详情 >></span>
				<% end %>
			</div>
		</div>
		<div class="panel-body">
			<%
			 og = order.order_goods[0]
			 item_info_text = og.order_item_info_str
			 bid_history_count = get_bid_count(order)
			%>
			 
				<div class="order-img-area">
					<%= link_to image_tag('../img/order_item_sample.png', class:"order-image"), order, remote: true %>
				</div>
				
				<div class="order-digest">
					<div class="row-height">
						<span>采购: <%= item_info_text %> ...</span>
						<% if order.status >= 2  %>
							<span class="algin_left">订单起拍价: <%= order.price %> 元 </span>
						<% end %>
					</div>
		
		
					<% if order.status.in?([2, 3]) == true  %>
						<div class="row-height">
							<span class="algin_left">成交价: </span>
							<span class="highlight_text"><%= order.deal_price %> 元</span>
							<span class="algin_left"> 成交日期:  </span>
							<span class="highlight_text"><%= order.deal_date ? order.deal_date.strftime('%Y-%m-%d %H:%M')  : ""%> </span>
							
						</div>
						
						<div class="row-height">
							<span class="algin_left"> 成交方: </span>
							<span class="highlight_text"><%= order.vendor ? order.vendor.contact : ''%> 
								<%= order.vendor ? order.vendor.company.name : ''%> *****  </span>
						</div>
						
						<% if order.status == 2 %>
						<div>						
							<span class="algin_left"> 需付定金:  </span> 
							<span class="highlight_text"><%= get_order_deposit_by_total(order.deal_price) %> 元</span>
						</div>
						<% end %>
					<% else %>
						<div class="row-height">
							<span class="algin_left"> <%= order.price %> 元 </span>
							<span class="algin_left"> 起拍,  </span>
							<span class="highlight_text"><%= bid_history_count %> </span>
							<span>个竞拍 </span>
							<% if bid_history_count > 0 %>
								<span>, 最新订单竞价: </span>
								<span class="highlight_text"> <%= get_order_lastest_bid_price(order) %> 元 </span>
							<% end %>
						</div>
						
						<div class="row-height">
							<span class="algin_left"> 截止日期: </span>
							<span class="highlight_text"><%= order.deadline ? order.deadline.strftime('%Y-%m-%d %H:%M')  : ""%> </span>
						</div>					
					<% end %>
										
				</div>
	
				<div class="order-actions">
					<% if order.status.in?([0,1]) == true  %>
						<div class="row-height">
							<%= link_to order, :class=>" ", remote: true  do %>					 
								<span class="span-text">管理竞价</span>
							<% end %>
						</div>
					<% end %>
					
					<% if order.status == 2 %>
						<div class="row-height">
							<%= link_to order, :class=>" ", remote: true  do %>					 
								<span class="span-text">去付款</span>
							<% end %>
						</div>
					<% end %>
					
					<div class="row-height">
						<%= link_to order, :class=>" ", remote: true  do %>					 
							<span class="span-text">查看消息</span>
						<% end %>
					</div>
					
					<% if order.status.in?([0,1, 2]) == true  %>
						<div class="row-height">
							<%= link_to order, :class=>" ", remote: true  do %>					 
								<span class="span-text">取消订单</span>
							<% end %>
						</div>
					<% end %>
				</div>
				 
		</div>
	</div>

	<% end %>

	<div class="pagination_area">
		<%= paginate @all_orders, :remote => true  %>
	</div>
</div>