<div class="all-orders-page">
	<%= link_to  "刷新所有竞拍订单",  dashboard_vendings_all_path, remote: true  %>
	
	<h3>我的所有成功的竞拍单</h3>

	<% @all_orders.each do |order| %>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><span>订单号: <%= order.order_num %> </span>
				<span class="highlight_text"> <%= get_order_status_text(order.status) %> </span> 
			</h3>
			
			<div class="algin_right row_margin">
				<%= link_to order_path({:id => order.id, :breadcrumb_path_key => 'homepage,dashboard'}), :class=>" ",  remote: true  do %>					 
					<span class="span-text">详情 >></span>
				<% end %>
			</div>
		</div>
		<div class="panel-body">
			<%
			 og = order.order_goods[0]
			 item_info_text = og.order_item_info_str
			 bid_history_count = order.order_price_histories.count
			 
			 # find the latest bid of mine
			 my_latest_bid_price = 0
			 order.order_price_histories.reverse_each { |v|
			 	if v.vendor_id == current_user.id
					my_latest_bid_price = v.price
					break;
				end
			 }
			%>
			
				<div class="order-img-area">
					<%= link_to image_tag('../img/order_item_sample.png', class:"order-image"), order, remote: true %>
				</div>
				
				<div class="order-digest">
					<div class="row-height">
						<span> 采购: <%= item_info_text %> ... </span>
					</div>
		
					<div class="row-height">
						<span class="algin_left"> <%= order.price %> 元 </span>
						<span class="algin_left"> 起拍,  </span>
						<span class="highlight_text"><%= bid_history_count %> </span>
						<span>个竞拍 </span>
						<span>, 最新订单竞价: </span>
						<span class="highlight_text"> <%= order.order_price_histories[bid_history_count-1] ? order.order_price_histories[bid_history_count-1].price : "" %> 元 </span>
					</div>
					
					<div class="row-height">
						<span>我的最新竞价: <%= my_latest_bid_price %></span>	
					</div>
					
					<div class="row-height">
						<span class="algin_left"> 截止日期: </span>
						<span class="highlight_text"><%= order.deadline ? order.deadline.strftime('%Y-%m-%d %H:%M')  : ""%> </span>
					</div>
					
				</div>
	
				<div class="order-actions">
					
					<div class="row-height">
						<%= link_to order, :class=>" ", remote: true  do %>					 
							<span class="span-text">查看消息</span>
						<% end %>
					</div>
					 
				</div>
		</div>
	</div>

	<% end %>

	<div class="pagination_area">
		<%= paginate @all_orders, :remote => true  %>
	</div>
</div>