<!-- purchased orders  -->
<div class="my-orders-page">
	
	<%= render "layouts/breadcrumb" %>

	<!-- purchase order summary -->
	<div class="widget box-summary">
		<div class="box-summary-left">
			<h4>竞价中的采购单<span class="bidding_order_count"><%=@bidding_orders_count%>个</span></h4>
		</div>

		<div class="box-summary-right">
				<div class="grid_2">
					<h5 class="text-big">待付款<span class="num-big"><%=@forpaid_orders_count%>个</span></h5>
				</div>
				<div class="grid_2">
					<h5 class="text-big">竞拍成功<span class="num-big"><%=@complete_orders_count%>个</span></h5>
				</div>

				<div class="grid_2">
					<h5 class="text-big">已完成<span class="num-big"><%=@complete_orders_count%>个</span></h5>
				</div>
				<div class="grid_2">
					<h5 class="text-big">流拍(未成交)<span class="num-big">(0)个</span></h5>
				</div>

			<div class="grid_2">
				<%= link_to orders_new_path, :class=>"btn btn-primary dash-create-order-btn", remote: true do %>
				<span>发布采购单</span>
				<% end %>
			</div>
		</div>
	</div>

	<!-- tabs -->
	<div class="tab-headers">
		<ul class="nav nav-tabs  tab-items">
			<li class="active" >
				<a href="#my_purchase_bidding_orders" class="tab-item" id="tab-my-purchase-bidding-orders" role="tab" data-toggle="tab">竞价中<span class="order-num"> <%=@bidding_orders_count%></span></a>
				<!--   link_to "竞价中",  my_biddings_path, remote: true  -->
			</li>
			<li>
				<a href="#my_purchase_forpaid_orders" class="tab-item" id="tab-my-purchase-forpaid-orders" role="tab" data-toggle="tab">待付款<span class="order-num"><%=@forpaid_orders_count%></span></a>
				<!--  link_to "待付款", {:controller => "orders", :action => "my_purchases", :status=> "2"}, remote: true   -->
			</li>
			<li>
				<a href="#my_purchase_complete_orders" class="tab-item" id="tab-my-purchase-complete-orders" role="tab" data-toggle="tab">已完成<span class="order-num"><%=@complete_orders_count%></span></a>
				<!--   link_to "已完成",  {:controller => "orders", :action => "my_purchases", :status=> "3"}, remote: true   -->
			</li>
			<li>
				<!-- <a href="#my_purchase_all_orders" class="tab-item" id="tab-my-purchase-all-orders" role="tab" data-toggle="tab">
				<i class="glyphicon glyphicon-list"></i>
				所有订单</a>
				-->
				<!--   link_to "所有订单",  my_all_orders_path, remote: true  -->

				<a href="#my_purchase_closed_orders" class="tab-item" id="tab-my-purchase-closed-orders" role="tab" data-toggle="tab">已关闭<span class="order-num"><%=@closed_orders_count%></span></a>

			</li>

		</ul>
	</div>

	<div class="tab-content">

		<div class="tab-pane active" id="my_purchase_bidding_orders">
			<%= render "dashboard/my_purchase_bidding_orders" %>
		</div>

		<div class="tab-pane" id="my_purchase_forpaid_orders">
			<%= render "dashboard/my_purchase_forpaid_orders" %>
		</div>

		<div class="tab-pane" id="my_purchase_complete_orders">
			<%= render "dashboard/my_purchase_complete_orders" %>
		</div>

		<div class="tab-pane" id="my_purchase_closed_orders">
			<%= render "dashboard/my_purchase_closed_orders" %>
		</div>

		<!--
		<div class="tab-pane" id="my_purchase_all_orders">
		< % = render "dashboard/my_purchase_all_orders" % >
		</div>-->

	</div>

</div>