<div class="my-profile-page">
	<div class="tab-headers">
		<ul class="nav nav-tabs tab-items" role="tablist">
			<li class="active">
				<a href="#account-profile" class="tab-item" role="tab" data-toggle="tab"> <i class="glyphicon glyphicon-user"></i> 账户信息</a>
			</li>
			<li>
				<a href="#password-edit" class="tab-item" role="tab" data-toggle="tab"> <i class="glyphicon glyphicon-lock"></i> 密码修改</a>
			</li>
			<li>
				<a href="#company-profile" class="tab-item" role="tab" data-toggle="tab"> <i class="glyphicon glyphicon-briefcase"></i> 公司信息</a>
			</li>

		</ul>

	</div>

	<div class="tab-content">

		<div class="tab-pane active" id="account-profile">
			<%= render "users/show" %>
		</div>
		<div class="tab-pane" id="password-edit">
			密码修改...
		</div>
		<div class="tab-pane" id="company-profile">
			公司信息...

			-------- 公司注册信息 -------------
			<p>
				公司名称: <%= @user.company.name %>
			</p>

			<p>
				公司注册帐号: <%= @user.company.account_num %>
			</p>

			<p>
				公司法人: <%= @user.company.legal_person %>
			</p>
			<%= render "companies/edit", :company => @user.company %>
			<%= link_to '修改公司信息', company_edit_path, remote: true %>

		</div>

	</div>

</div>