<div class="logon-content ">

	<!-- header -->
	<div class="dialog-header">
		<span class="dialog-header-text">登录</span>
		<div class="close_btn">
			<span class="glyphicon glyphicon-remove close-btn"></span>
		</div>
	</div>

	<!-- left area -->
	<div class="left-area">
		<p class="nl-login-intro">
			<%= link_to "无限低价, 尽在壹百万!", orders_path  %>
		</p>
	</div>

	<!-- seperation line -->
	<div class="sep-line"></div>

	<%= render "layouts/flash_msg" %>

	<!-- right area -->
	<div class="logon-form-area">
		<%= form_tag sessions_path, :remote => true  do %>
		<div class="shake-area" id="shake_area">
			<div class="enter-area input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
				<input type="text" class="enter-item form-control" placeholder="邮箱/用户名" id="email_username" name="email_username" data-rule="(^[\w.\-]+@(?:[a-z0-9]+(?:-[a-z0-9]+)*\.)+[a-z]{2,6}$)|(^1[3|4|5|8]\d{9}$)|(^\d{3,}$)|(^\++\d{2,}$)" autocomplete="on">
				<span class="error-tip"><em class="error-ico"></em><span class="error-msg"></span></span>
			</div>
			<div class="enter-area input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				<input type="password" class="enter-item form-control" placeholder="密码" id="password" name="password" autocomplete="off" data-rule="">
				<span class="error-tip"><em class="error-ico"></em><span class="error-msg"></span></span>
			</div>
		</div>

		<div class="enter-area img-code-area" id="img_code_area" style="display:none;">
			<img src="" class="code-img" id="code_img">
			<input type="text" class="enter-item code-enter-item" id="miniLogin_captCode" autocomplete="off" maxlength="12">
			<i class="placeholder" id="message_INPUT_CONFIRM">验证码</i>
			<span class="error-tip"><em class="error-ico"></em><span class="error-msg" id="code_error_tips"></span></span>
		</div>

		<div class="ng-cookie-area" id="cookie_area">
			<input type="checkbox" id="auto_login_two_weeks" >
			<span id="message_AUTOLOGIN_TWOWEEKS" class="auto_login_text">自动登录</span>
		</div>

		<%= submit_tag "立即登录", class:"button orange btn_submit" %>

		<%= link_to "免费注册", signup_path, class:"button logon-reg-btn" %>

		<a style="display:none" id="redirectLink" href="" target="_top"></a>
		<a style="display:none" id="redirectTwoPhraseLoginLink" href=""></a>
		<% end %>
	</div>
</div>