<div class="regContainer">
	<div class="regMain">
		<div id="regTimelineBar" class="regTimelineBar">
			<ul>
				<li class="step">
					<img src="../img/reg/step-bg-light.png">
					<span class="step_number light">1</span>
					<div class="hr active"></div>
					<br>
					<span class="light">填写账号信息</span>
				</li>

				<li class="step">
					<img src="../img/reg/step-bg-light.png">
					<span class="step_number light">2</span>
					<div class="hr"></div>
					<br>
					<span class="light">手机信息验证</span>
					
				</li>

				<li class="step">
					<img src="../img/reg/step-bg-dark.png">
					<span class="step_number">3</span>
					<div class="hr last"></div>
					<br>
					<span>注册成功</span>
				</li>

			</ul>
		</div>

		<div class="userBasicInfoContainer">
			<% user_form = nil %>
			<%= form_for @user do |f| %>

			<!-- user basic info area table -->
			<% user_form = f %>
			<div class="popTip">
				<div class="popTipContainer">短信已发送至您手机，请输入短信中的验证码，确保您的手机号真实有效。</div>
				<div class="popTipArrow"></div>
			</div>
			<ul class="userBasicInfo">
				<li>
					<div class="fieldLabel">
						<%= f.label :contact_cellphone, "手机号确认"%><span class="asterisk">*</span>
					</div>
					<div class="userMobileverify">
						<%= f.label :contact_cellphone, "1378677329" %>
					</div>
				</li>

				<li>
					<div class="fieldLabel">
						<%= f.label :contact_cellphone, "短信验证码"%><span class="asterisk">*</span>
					</div>
					<div class="fieldInput">
						<%= f.text_field :contact_cellphone %>
					</div>
				</li>
				
				<li>
					<div id="verifyBtn" class="button"><span>验证</span></div>
				</li>

			</ul>
			<% end %>

		</div>

	</div>

</div>

