<div class="regContainer">
	<div class="regMain">
		<div class="banner-wrap">
			<p class="rb1">
				免费注册，简单易用
			</p>
		</div>
		<div class="reg-bg"></div>

		<div class="userBasicInfoContainer">

			<% user_form = nil %>
			<%= form_for @user do |f| %>

			<!-- user basic info area table -->
			<% user_form = f %>
			<ul class="userBasicInfo">
				<li>
					<div class="input-group fieldInput">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user reg-icon"></span></span>
						<%= f.text_field :username, :class => "form-control reg-input", :placeholder => "输入您的用户名（必填）" %>
					</div>
				</li>

				<li>
					<div class="input-group fieldInput">
						<span class="input-group-addon"><span class="glyphicon glyphicon-lock reg-icon"></span></span>
						<%= f.password_field :password, :class => "form-control reg-input", :placeholder => "输入密码（必填）" %>
					</div>
				</li>

				<li>
					<div class="input-group fieldInput">
						<span class="input-group-addon"><span class="glyphicon glyphicon-envelope reg-icon"></span></span>
						<%= f.text_field :email, :class => "form-control reg-input", :placeholder => "输入您的邮箱（必填）" %>
					</div>
				</li>

				<li>
					<!-- <div class="fieldVerifyCode">
					<input type="text" class="form-control reg-verify-code">
					</div> -->
					<div class="fieldInput">
						<input type="text" class="form-control reg-verify-code" placeholder="验证码（必填）">
					</div>
				</li>

				<li>
					<div class="checkbox agreementArea">
						<label>
							<input type="checkbox" checked="true">
							<span class="agree-text">我已阅读并同意<a href="" target="_blank">《壹百万网站服务协议》</a></span></label>
					</div>
				</li>
				<li>
					<%= f.submit "立即注册", :class => "button submitBtn", :id => "btn_submit_reg", :remote => true %>
					<label class="label-login">已有账号？<%= link_to "立即登录",  logon_path, class:"cor_yellow" %></label>
				</li>

			</ul>
			<% end %>

		</div>

	</div>

</div>

