<h1>User profile</h1>

<p>
	用户名: <%= @user.username %>
</p>

<p>
	密码: ****** <%= link_to '更改密码', user_edit_path, remote: true %>
</p>

<p>
	昵称: <%= @user.nickname %>
</p>

<p>
	邮箱: <%= @user.email %>
</p>

<p>
	真实姓名: <%= @user.contact %>
</p>

<p>
	职责: <%= @user.contact_title %>
</p>

<p>
	手机: <%= @user.contact_cellphone %>
</p>
<p>
	联系电话: <%= @user.contact_tel %>
</p>





 