<!DOCTYPE html>
<html>
	<head>
		<title>新用户注册 - 壹百万</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<div class="user_page_area">
			<div class="reg_page">
				<% request_name = request.path %>
				<% if 	request_name == "/signup" %>
				<%= render "reg_basic" %>
				<% elsif  request_name == "/register_details" %>
				<%= render "reg_phone_verify" %>
				<% elsif  request_name == "/signup_success" %>
				<%= render "reg_success" %>
				<% else %>
				<%= render "sessions/new" %>
				<% end %>
			</div>
		</div>

		<%= render "layouts/footer" %>
		<%= yield :footer %>
	</body>
</html>
