<div class="bid-area">
	<!-- header -->
	<div class="dialog-header">
		<div class="dialog-header-text">
			<span>参与竞拍</span>
		</div>
		<div class="close_btn">
			<span class="glyphicon glyphicon-remove close-btn"></span>
		</div>
	</div>

	<!-- content -->
	<div class="content">
		<%= form_for @order, url: order_order_price_histories_path(@order), remote: true, method: :post do |f| %>

		<ul>
			<li>
				<div class="fieldLabel">
					<span>竞拍供应商：</span>
				</div>
				<div class="fieldValue">
					<span><%= current_user.company.name %></span>
				</div>
			</li>
			
			<li>
				<div class="fieldLabel">
					<span>采购商：</span>
				</div>
				<div class="fieldValue">
					<span>温州****公司</span>
				</div>
			</li>
			
			<li>
				<div class="fieldLabel">
					<span>采购：</span>
				</div>
				<div class="fieldValue">
					<span>123</span>
				</div>
			</li>
			
			<li>
				<div class="fieldLabel">
					<span>最新竞价：</span>
				</div>
				<div class="fieldValue">
					<span>¥ <%= get_order_lastest_bid_price(@order) %></span>
				</div>
			</li>

			<li>
				<div class="fieldLabel">
					<span>我的报价：</span>
				</div>
				<div class="fieldValue">
					<%= text_field_tag(:bid_price, '', type: 'text', class: 'input') %> 元
				</div>

			</li>

          <li>
            <div class="fieldLabel">
              <span>备货期：</span>
            </div>
            <div class="fieldValue">
              <%= text_field_tag(:delivery_days, '', type: 'text', class: 'input') %> 天
            </div>

          </li>


          <li>
            <div class="fieldLabel">
              <span>备注：</span>
            </div>
            <div class="fieldValue">
              <%= text_area_tag(:bid_memo, '', type: 'text', class: 'input') %>
            </div>

          </li>

		</ul>
		<div class="bid-button">
			<%= submit_tag("立即竞价", class: 'btn btn-primary btn-bid') %>
            <%= hidden_field_tag(:redirect_path, params[:redirect_path] )%>
		</div>
		
		<div class="btn btn-primary">取消</div>
		<% end %>
	</div>
</div>
