<h1>Fill your order</h1>

<%= nested_form_for @order, remote: true   do |f| %>
<div style="padding-left: 50px;">
	<!-- category selection area -->
	<span><b>订单类型：</b></span>
	<br>
	<div style="padding-left: 50px;">
		<% @category.each do |cate| %>		
		<div>
			<%= radio_button_tag :parent_category, cate.id %><%= label_tag cate.name %>
			<br />
			
			<% cate.child_categories.each do |child_cate| %>			
			<div style='padding-left: 50px;'>
				<%= radio_button_tag :category, child_cate.id %><%= label_tag child_cate.name %>
				<br />	
			</div> 
			<% end %>
			
		</div>		
		<% end %>
	</div>
	<hr />


	<!-- order goods data fill area -->
	<p><b> 货物信息:  	</b></p>
	<p><%= f.link_to_add "增加货物", :order_goods, :data => { :target => ".add_order_goods_area" } %></p>
	
	<div>
	<%= f.fields_for :order_goods,  @order.order_goods.new do | goods_form | %>
		<span><b>名称：</b></span>
		<%= goods_form.text_field :name  %>
		<br>
		
		<span><b>型号：</b></span>
		<%= goods_form.text_field :model  %>
		<br>
		
		<span><b>价格：</b></span>
		<%= goods_form.text_field :price %>
		<br>
	
		<span><b>数量：</b></span>
		<%= goods_form.text_field :quantity  %>
		<br>
		
		<a href="javascript:void" class="addExtProp"> 添加扩展属性 </a>
		<div class="extPropArea"></div>
		<%= goods_form.link_to_remove "删除该货" %>		
		<br>
		<br/>
	<% end %>	
	</div>
	
	<div class="add_order_goods_area"></div>
	<hr />

	<span><b>竞拍总价格：</b></span>
	<%= f.text_field (:price) %>
	<br>

	<!-- order basic data fill area -->
	<span><b><font color='#68217A'>一口价：</font></b></span>
	<%= f.select(:price_type, [["正常竞价", 1], ["一口价", 0]]) %>
	<br>

	<span><b>截止日期：</b></span>
	<label for='deadline'></label>
	<%= f.text_field :deadline %>
	<br>
	<hr>

	<%= button_to  '提交' %>
</div>

<% end %>


