
<div class = "orders_container">
	
<% @orders.each do |order| %>
<div class="order_item">
	<div class="item_inner_area">
		<li>
			Order ID: <%= order.id %>   <%= link_to '=>details', order, remote: true %>
			<br>
			订单号: <%= order.order_num %>  
			<br>
			类别: <%= order.category ?  order.category.name : "" %>  
			<b> <%= order.location ? order.location.full_location_name : '' %></b>
			
			<br>		
			创建时间: <%= order.create_time %> 			
			<br>
			截止时间: <%= order.deadline  %>  
			
			<br>
			起拍价: <%= order.price %>  <%= link_to '=>Bid it!', edit_order_path(order), remote: true %>
		</li>
	
		<% if order.order_goods.nil? == false %>
		<p>
			订单货品:
		</p>
		<% order.order_goods.each do |goods| %>
		<div style="padding-left: 20px;">
			<span>ID: <%= goods.id %>   Name:<%= goods.name %>  价格: <%= goods.price %> 数量: <%= goods.quantity %>
				型号: <%= goods.model %>   类别:<%= goods.category %></span>
		</div>
		<% end %>
		<% end %>
	
		<% if order.order_price_histories.size > 0 %>
		<p>
			竞价历史:
		</p>
		<% order.order_price_histories.each do |histo| %>
		<div style="padding-left: 20px;">
			<span>Time: <%= histo.bid_time %>,  Bid Price: <%= histo.price %> </span>
		</div>
		<% end %>
		<% end %>
	</div>
</div>

<% end %>

</div>


<div class="pagination_area">
<%= paginate @orders, :remote => true  %>
</div>

