<div class="orderDetailPage">

	<div class="leftWrapper">
		<!-- header info -->
		<article class="orderSummaryContainer">
			<div class="orderSummary">
				<div class="sumHeader">
					<div class="order-must-title">
						采购：<span><%= @order.order_goods[0].order_item_info_str %></span>
					</div>
					<div class="order-id">
						订单编号: <%= @order.order_num %>
					</div>
				</div>

				<div class="sumContent">
					<div class="order-img">
						<img src= "../img/sample_item_img.jpg" />
					</div>
					<div class="order-sum-area">
						<div class="order-sum-keywords">
							<ul>

								<li>
									<p class="title">
										收货城市
									</p>
									<span class="value"><%= @order.location.name %></span>
								</li>

								<li>
									<p class="title">
										竞拍进度
									</p>
									<div class="order-timecounter">
										<div class="progress">
											<div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100"
												 style="width: <%= get_bid_progress(@order.create_time, @order.deadline)%>%;"></div>
										</div>
									</div>
									<div>
										<span class="deadline">截止日期：
											<br/>
											<%= @order.deadline.strftime('%Y年%m月%d日') %></span>
									</div>
								</li>

								<li>
									<p class="title">
										竞拍次数
									</p>
									<span class="count"><%= get_bid_count(@order) %></span>
								</li>

							</ul>
						</div>
						<div class="order-sum-other-info">
							<div class="sum-info">
								<div class="purchaser-company-name">
									采购商：<%= @order.buyer.company.name %>
								</div>
								<div class="split-line"></div>
								<div class="other">
									other
								</div>
							</div>
						</div>
					</div>

				</div>

				<hr class="dashed">
			</div>
		</article>

		<!-- content info -->
		<article class="orderContainer">
			<div class="orderInfoContainer">
				<div class="orderInfo">
					<h4>采购明细</h4>
					<hr class="dashed">
					<!-- item table TODO hardcode -->
					<table class="itemTable">
						<tbody>

							<tr class="title">
								<th>物料名称</th>
								<th>型号</th>
								<th>数量(<%= @category_unit.unit_name %>)</th>
								<th>描述</th>
								<% @dynamic_goods_props.each do |prop|%>
								<th><%= prop.name %></th>
								<% end %>
							</tr>

							<% @order.order_goods.each do |good|%>

							<tr>
								<td><%= good.name %></td>
								<td><%= good.model %></td>
								<td><%= good.quantity %></td>
								<td><%= good.memo %></td>
								<% good.goods_exts.each do |prop_ext|%>
								<td><%= prop_ext.prop_value %></td>
								<% end %>

							</tr>
							<% end %>
							<!-- <tr class="alt">
							<td>1002</td>
							<td>不锈钢</td>
							<td>412</td>
							<td>方管</td>
							<td>D*300*5600</td>
							<td>1.5</td>
							</tr>
							<tr>
							<td>1011</td>
							<td>螺纹钢</td>
							<td>D3</td>
							<td>螺纹钢</td>
							<td>D*150*8000</td>
							<td>2.0</td>
							</tr> -->
						</tbody>
					</table>

					<!-- description detail list -->
					<div class= "descrDetail">
						<div class="descrDetailTitle">
							关键信息
						</div>
						<table class="descrDetailInfo">
							<tbody>
								<tr>
									<td>采购商：</td>
									<td class="value">深圳***金属加工公司</td>
								</tr>
								<tr>
									<td>收货地址：</td>
									<td class="value">佛山，广东</td>
								</tr>
								<tr>
									<td>收货日期：</td>
									<td class="value">2014年3月15日</td>
								</tr>
								<tr>
									<td>竞拍截止时间：</td>
									<td class="value">2014年2月20日</td>
								</tr>
								<tr>
									<td>付款方式：</td>
									<td class="value">押金+发货付款</td>
								</tr>
								<tr>
									<td>物流运输费用：</td>
									<td class="value">供应商承担</td>
								</tr>
								<tr>
									<td>是否区域采购：</td>
									<td class="value">是</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="vendorDemands">
						<div class="vendorDemandsTitle">
							采购商要求
						</div>
						<div class="vendorDemandsInfo"></div>
					</div>
				</div>

				<!-- buyer company details info -->
				<div class="buyerDetailsInfo">
					<h3>采购商公司信息</h3>
					<hr class="dashed">
					<div>
						test
					</div>
				</div>

			</div>
		</article>

	</div>

	<div class="rightWrapper">
		<!-- order bid functions area -->
		<div class="wall" id="bidActionArea">
			<div class="lastBidPrice">
				<div class="title">
					最新竞拍金额（元）
				</div>
				<div class="price">
					<span>¥ </span><%= get_order_lastest_bid_price(@order) %> <span class="RMB"> 万</span>
				</div>
			</div>
			<div class="bidStatusTag">
				<%= get_order_status_text(@order.status) %><span class="triangle"></span>
			</div>
			<div class="bidCount">
				<%= get_bid_count(@order) %> 个竞拍
			</div>

			<div class="lastBidVendor">
				竞价方：<span class="companyInfo"><%= get_order_lastest_bid_company(@order) %></span>
			</div>

			<div class="bidField">
				<!-- TODO -->
				<div class="bidPriceField">
					<input name="myBidPrice" placeholder="  我的竞价">
					<p class="inputUnit">
						万元
					</p>
				</div>
			</div>

			<!-- <div class="">
			<span class="bidBtnText">竞价</span>
			</div> -->
			<button class="btn btn-primary bidBtn">
				<span class="bidBtnText">竞价</span>
			</button>

		</div>

		<div class="wall" id="communicationArea">
			<div class="avatarInfoContainer">
				<!-- TODO link to user info page -->
				<div class="avatarTitle">
					<p>
						赵经理
					</p>
					<p class="role">
						（采购经理）
					</p>
				</div>
				<div class="avatarImg"></div>
				<p class="registerTime">
					注册时间 2013-3-23
				</p>
				<!-- TODO (:buyer_id => order.buyer_id) -->
				<%= link_to comm_dialog_show_path, :class=>"comm-dialog-show", remote: true do %>
				<span>发送私信</span>
				<% end %>

			</div>

		</div>

		<div class="wall" id="avatar-verification-area">
			Personal & Company Verification Info
		</div>

	</div>

</div>
