
<%= render "layouts/breadcrumb" %>

<%  isEdit = false
	if params[:is_edit]
		isEdit = true
	end

	logger.debug "_show.html.erb: params[:is_edit]="+params[:is_edit].to_s + ", isEdit="+ isEdit.to_s
%>

<div class="orderDetailPage">

	<div class="leftWrapper">
		<!-- header info -->
		<article class="orderSummaryContainer">
			<div class="orderSummary">
				<div class="sumHeader">
					<div class="order-must-title">
						采购：<span><%= @order.order_goods[0].order_item_info_str %></span>
					</div>
					<div class="order-id">
						订单编号: <%= @order.order_num %>
					</div>
				</div>

				<div class="sumContent">
					<div class="order-img">
						<img src= "../img/sample_item_img.jpg" />
					</div>
					<div class="order-sum-area">
						<div class="order-sum-keywords">
							<ul>

								<li>
									<p class="title">
										交货城市
									</p>
									<% if isEdit %>
									<input class="city_input location" value="<%= @order.location ? @order.location.name : '' %>"/>
									<% else %>
									<br/>
									<span class="value"><%= @order.location ? @order.location.name : '' %></span>
									<%end%>										
								</li>
								
								<li>
									<p class="title">
										交货日期
									</p>
									<% if isEdit %>
										<input class="date-input delivery-date" value="<%= @order.delivery_date ? @order.delivery_date.strftime('%Y年%m月%d日'): "" %>"/>
									<% else %>
									<br/>
										<span class="count"> <%= @order.delivery_date ? @order.delivery_date.strftime('%Y年%m月%d日') : "" %></span>
									<%end%>								 
									
								</li>

								<li>
									<p class="title">
										竞拍进度
									</p>
									<div class="order-timecounter">
										<div class="progress">
											<div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100"
												 style="width: <%= get_bid_progress(@order.create_time, @order.deadline)%>%;"></div>
										</div>
									</div>
									<div>
										<span class="deadline">截止日期：											
											<% if isEdit %>
												<input class="date-input deadline" value="<%= @order.deadline ? @order.deadline.strftime('%Y年%m月%d日') :'' %>"/>
											<% else %>
												<br/>
												<%= @order.deadline ? @order.deadline.strftime('%Y年%m月%d日') : '' %>
											<%end%>											
										</span>
									</div>
								</li>

								

							</ul>
						</div>
						<div class="order-sum-other-info">
							<div class="sum-info">
								<div class="purchaser-company-name">
									采购商：<%= @order.buyer.company.name %>
								</div>
								<div class="split-line"></div>
								<div class="other">
									other
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</article>

		<!-- content info -->
		<article class="orderContainer">
			<div class="orderInfoContainer">
				<div class="orderInfo">
					<div class="info-header"><h4>采购明细</h4></div>
					<div class="detail-download-button">
						<i class="glyphicon  glyphicon-download-alt span-icon"></i>
						<span>下载采购单明细</span>
					</div>
					<hr class="dashed">
					<!-- item table TODO hardcode -->
					<table class="itemTable">
						<tbody>

							<tr class="title">
								<th>物料名称</th>
								<th>型号</th>
								<th>数量(<%= @category_unit ? @category_unit.unit_name : "" %>)</th>
								<th>描述</th>
								<% @dynamic_goods_props.each do |prop|%>
								<th><%= prop.name %></th>
								<% end %>
							</tr>

							<% @order.order_goods.each do |good|%>
								<tr>
									<td><%= good.name %></td>
									<td><%= good.model %></td>
									<td><%= good.quantity %></td>
									<td><%= good.memo %></td>
									<% 
									dyn_prop_count = @dynamic_goods_props.count 
									counter = 0;
									good.goods_exts.each do |prop_ext|
										counter  = counter + 1
									%>
										<td><%= prop_ext.prop_value ? prop_ext.prop_value : " " %></td>
									<% end %>
									
									<% while counter < dyn_prop_count 
											counter  = counter + 1
									 %>
										<td><%= " " %></td>
									<% end %>	
								</tr>
							<% end %>
							<!-- <tr class="alt">
							<td>1002</td>
							<td>不锈钢</td>
							<td>412</td>
							<td>方管</td>
							<td>D*300*5600</td>
							<td>1.5</td>
							</tr>
							<tr>
							<td>1011</td>
							<td>螺纹钢</td>
							<td>D3</td>
							<td>螺纹钢</td>
							<td>D*150*8000</td>
							<td>2.0</td>
							</tr> -->
						</tbody>
					</table>

					<!-- description detail list -->
					<div class= "descrDetail">
						<div class="descrDetailTitle">
							关键信息
						</div>
						<table class="descrDetailInfo">
							<tbody>
								<tr>
									<td>采购商：</td>
									<td class="value"><%= @order.buyer.company.name %></td>
								</tr>
								<tr>
									<td>总金额：</td>
									<td class="value">
										<% if isEdit %>
										<input class="price" value="<%= @order.price ? @order.price.round : ''%>"/>
									<% else %>										 
										<%= @order.price ? @order.price.round : '' %>
									<%end%>	元
									</td>
								</tr>
								<tr>
									<td>收货地址：</td>
									<td class="value">
									<% if isEdit %>
										<input class="delivery-addr" value="<%= @order.delivery_addr  %>"/>
									<% else %>
										<br/>
										<%= @order.delivery_addr %>
									<%end%>	
									</td>
								</tr>
								<tr>
									<td>收货日期：</td>
									<td class="value"><% if isEdit %>
										<input class="date-input delivery-date" value="<%= @order.delivery_date ? @order.delivery_date.strftime('%Y年%m月%d日') : "" %>"/>
									<% else %>
										<br/>
										<%= @order.delivery_date ? @order.delivery_date.strftime('%Y年%m月%d日') : '' %>
									<%end%> 
									</td>
								</tr>
								<!-- <tr>
									<td>竞拍截止时间：</td>
									<td class="value">2014年2月20日</td>
								</tr> -->
								<tr>
									<td>付款方式：</td>
									<td class="value"><%= get_payment_method(@order.payment_method) %></td>
								</tr>
								<tr>
									<td>X物流运输费用：</td>
									<td class="value">供应商承担</td>
								</tr>
								<tr>
									<td>X是否区域采购：</td>
									<td class="value">是</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="vendorDemands">
						<div class="vendorDemandsTitle">
							采购商要求
						</div>
						<div class="vendorDemandsInfo">
							<div><%= @order.order_memo %></div>
						</div>
					</div>
				</div>

				<!-- buyer company details info -->
				<div class="buyerDetailsInfo">
					<h3>采购商公司信息</h3>
					<hr class="dashed">
					<div>
						test
					</div>
				</div>

			</div>
		</article>

	</div>

	<div class="rightWrapper">
		<!-- order bid functions area -->
		<div class="wall" id="bidActionArea">
			<div class="lastBidPrice">
				<div class="title">
					最新竞拍金额（元）
				</div>
				<div class="price">
					<span>¥ <% bd_price =  get_order_lastest_bid_price(@order) %> <%= bd_price ? bd_price.round : ""%></span>
				</div>
			</div>
			<div class="bidStatusTag">
				<%= get_order_status_text(@order.status) %><span class="triangle"></span>
			</div>
			<div class="bidCount">
				<%= get_bid_count(@order) %> 个竞拍
			</div>

			<div class="lastBidVendor">
				竞价方：
				<% if get_order_lastest_vendor_id(@order) === ''%>
				<span>暂无</span>
				<% else %>
				<div class="action-link">
						<%= link_to company_info_dialog_path(:company_id => get_order_lastest_vendor_id(@order)),
						:class => "", remote: true do %>
						<span class="companyInfo"><%= get_order_lastest_bid_company(@order) %></span>
						<% end %>
					</div>
				<% end %>
			</div>

          <!-- no use!
			<div class="bidField">
				<div class="bidPriceField">
					<input name="myBidPrice" placeholder="  我的竞价">
					<p class="inputUnit">
						万元
					</p>
				</div>
			</div>
            -->

			<!-- <div class="">
			<span class="bidBtnText">竞价</span>
			</div> -->
			<!-- <button class="btn btn-primary bidBtn">
				<span class="bidBtnText">竞价</span>
			</button> -->
			<%= link_to bid_dialog_show_path(:id => @order.id, :redirect_path => request.fullpath),
                        :class=>"btn btn-primary bidBtn", remote: true do %>
				<span class="bidBtnText">竞价</span>
				<% end %>

		</div>

		<div class="wall" id="communicationArea">
			<div class="avatarInfoContainer">
				<!-- TODO link to user info page -->
				<div class="avatarTitle">
					<p>
						<%= @order.buyer.contact %>
					</p>
					<p class="role">
						<%= get_user_role(  @order.buyer.contact_title ) %>（采购经理）
					</p>
				</div>
				<div class="avatarImg"></div>
				<p class="registerTime">
					注册时间: <%= @order.buyer.signup_time.strftime('%Y年%m月%d日')  %>
				</p>
				<!-- TODO (:buyer_id => order.buyer_id) -->
				<%= link_to comm_dialog_show_path, :class=>"comm-dialog-show", remote: true do %>
				<span>发送私信</span>
				<% end %>

			</div>

		</div>

		<div class="wall" id="avatar-verification-area">
			X Personal & Company Verification Info
		</div>

	</div>

</div>



<% if isEdit %>

	<div class="submit-area">
		<button type="button" class="btn btn-default order-edit-btn"  >
			提交修改
		</button>
	</div>
<%end%>
