<h1>竞价!</h1>
 
<%= form_for @order, url: order_order_price_histories_path(@order), method: :post do |f| %>
   
  <p>
    <span> Recent Price: <%= @order.price %></span>
  </p>
 
  <p>
    <%= label_tag(:deadline, "Deadline: ") %>
    <%= @order.deadline %>
  </p>
  
  <p>
    <div style="font-weight: bold; color: red;">My Price:</div>
    <input id="bid_price" name="bid_price" value='' >
    
  </p> 
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<div> <%= link_to '<=Back to order list', orders_path %> </div>