<!--<div style="background-color: #68217A;"> -->
<!-- <div style="background: url('/assets/nav_bg.png') repeat #fff; background: repeat;"> -->
<div>
	<%= button_to  '我要下单', new_order_path, :method => :get %>
</div>

<h1>Orders in BidGate: </h1>

<% if @filter_category || @filter_tag_name %>
	<p> <strong><%= @filter_category ? "类别: "+ @filter_category.name : "Tag: "+ @filter_tag_name %> </strong> 相关的订单:</p>
<% end %>

<% @orders.each do |order| %>
<div style="border-top: 1px solid #000; padding: 5px 0;">
	<li>
		Order ID: <%= order.id %>   <%= link_to '=>details', order %>
		<br>
		Created: <%= order.create_time %>   <b> <%=order.location ? order.location.full_location_name : '' %></b>
		<br>
		Total: <%= order.price %>  <%= link_to '=>Bid it!', edit_order_path(order) %>
	</li>

	<% if order.order_goods.nil? == false %>
	<p>
		订单货品:
	</p>
	<% order.order_goods.each do |goods| %>
	<div style="padding-left: 50px;">
		<span>ID: <%= goods.id %>   Name:<%= goods.name %>  Price: <%= goods.price %>
			型号: <%= goods.model %>   类别:<%= goods.category %></span>
	</div>
	<% end %>
	<% end %>

	<% if order.order_price_histories.size > 0 %>
	<p>
		竞价历史:
	</p>
	<% order.order_price_histories.each do |histo| %>
	<div style="padding-left: 50px;">
		<span>Time: <%= histo.bid_time %>,  Bid Price: <%= histo.price %> </span>
	</div>
	<% end %>
	<% end %>
</div>
<% end %>

</div>
<!-- </div> -->