<h1>Fill your order</h1>

<%= form_for @order do |f| %>
<div style="padding-left: 50px;">
	<span><b>订单类型：</b></span>
	<br>
	<div style="padding-left: 50px;">
		<% @category.each do |cate| %>
		<% if cate.is_parent %>
		<div style='padding-left: 50px;'>
			<%= radio_button_tag :category, cate.id %><%= label_tag cate.name %>
			<br />

		</div>
		<% end %>
		<% end %>
	</div>
	<hr />

	<span><b>物品种类：</b></span>
	<br>
	<div style="padding-left: 50px;">
		<% @category.each do |cate| %>
		<% if !cate.is_parent %>
		<div style='padding-left: 50px;'>
			<%= radio_button_tag :sub_category, cate.id %><%= label_tag cate.name %>
			<br />

		</div>
		<% end %>
		<% end %>
	</div>
	<hr />

	<span><b>型号：</b></span>
	<%= text_field_tag (:goods_model) %>
	<br>

	<span><b>材质：</b></span>
	<%= text_field_tag (:goods_material) %>
	<br>

	<span><b>产地：</b></span>
	<%= text_field_tag (:goods_product_location) %>
	<br>

	<span><b>规格：</b></span>
	<%= text_field_tag (:goods_style) %>
	<br>
	
	<span><b>数量：</b></span>
	<%= text_field_tag (:goods_quantity) %>
	<br>
	<hr>

	<span><b>竞拍价格：</b></span>
	<%= text_field_tag (:order_price) %>
	<br>

	<span><b>截止日期：</b></span>
	<label for='deadline'></label>
	<%= date_select('deadline_date', :deadline)%>
	<br>

	<span><b><font color='#68217A'>一口价：</font></b></span>
	<%= text_field_tag (:one_price) %>
	<br>
	<hr>

	<%= button_to  '提交' %>
</div>

<% end %>
