 <h3>订单详情 </h3>

<li>订单号: <%= @order.id %>  
	<br>Created: <%= @order.create_time %>  
	<br>Total: <%= @order.price %> 
    <br>Deadline: <%= @order.deadline %>
    <br>deal_date: <%= @order.deal_date %> 
    <br>deal_price: <%= @order.deal_price %> 
    <br>seller: <%= @order.seller.nickname %>
    <br>seller公司: <%= @order.seller.company.name %>
    <br>Buyer: <%= @order.buyer.nickname %>  
    <br>Buyer公司: <%= @order.buyer.company.name %>
</li> 
    
    	 <p>订单货品: <%= link_to '=>货品列表', order_order_goods_path( :order_id => @order.id ) %> </p>
	     <% @order.order_goods.each do |goods| %>    
	    	<div style="padding-left: 50px;">    		
	    		<span>ID: <%= goods.id %>   Name:<%= goods.name %>  Price: <%= goods.price %>  
	    			型号: <%= goods.model %>   类别:<%= goods.category %></span>
	    	</div>
	    <% end %>
    

	 
	    <p>竞价历史: <%= link_to '=>竞价历史列表', order_order_price_histories_path( :order_id => @order.id ) %> </p>
	    <% @order.order_price_histories.each do |histo| %>    
	    	<div style="padding-left: 50px;">    		
	    		<span>Time: <%= histo.bid_time %>,  Bid Price: <%= histo.price %> </span>
	    	</div>
	    <% end %>
	    
<p>	 <%= link_to '<=Back to order list', orders_path %> </p>