 

<h2>货品列表: for order id: <%= @order.id %></h2>
<% @order_goods.each do |goods| %>    
	<div style="padding-left: 50px;">    		
		<li>名称: <%= goods.name %>,  | 数量: <%= goods.quantity %>, | 总价: <%= goods.price %>   
		<%= link_to '=>货品详情 ', order_order_good_path(:order_id => @order.id, :id => goods.id), remote: true %>	
		</li>
	</div>
<% end %>
	  
<p> <%= link_to '<=Back to 订单详情', order_path(@order), remote: true %> </p>