<% content_for :header do %>
<div class="header">

	<div class="headerHelper">
		<div class="helper">
			<div class="hpRight">

				<%= link_to "首页", './', class:"helperLink" %>

				<%= link_to dashboard_path, :class=>"helperLink", remote: true do %>
				<span>我的壹百万</span>
				<% end %>
				<div class="helperLink">
					常见问题
				</div>
			</div>
		</div>
	</div>

	<div class="headMain">

		<div class="masthead">

			<div>
				<%= link_to "", './', class:"logoWrapper" %>
			</div>

			<div class="search-bar">
				<%= form_tag orders_search_path, :method => :get, :remote => true do %>
				<p>
					<%= text_field_tag :search, params[:search] %>
					<!-- <%= submit_tag "搜索", :name => nil %> -->
				</p>
				<% end %>
			</div>

			<div class="menuBar">
				<ul class="navMenu">
					<li class="item">
						<div class="btn-group">
							<div class="find-orders" data-hover="dropdown" data-delay="100">
								<%= link_to orders_search_path(:search => ""), :class=>"menuItem", remote: true do %>
								<span>发现采购单</span>
								<span class="caret"></span>
								<% end %>
							</div>

							<ul class="dropdown-menu ui-nav-dropdown" role="menu">
								<li class="ui-nav-dropdown-angle">
									<span></span>
								</li>
								<li class="ui-nav-dropdown-item">
									<!-- TODO not work? -->
									<%= link_to orders_search_path(:search => ""), :class=>"", remote: true do %>
									<i class="glyphicon glyphicon-cutlery navi-icon"></i>
									<span>不锈钢/钢材</span>
									<% end %>
								</li>
								<li class="ui-nav-dropdown-separator"></li>
								<li class="ui-nav-dropdown-item">
									<%= link_to orders_search_path(:search => ""), :class=>"", remote: true do %>
									<i class="glyphicon glyphicon-dashboard navi-icon"></i>
									<span>橡胶制品</span>
									<% end %>
								</li>
								<li class="ui-nav-dropdown-separator"></li>
								<li class="ui-nav-dropdown-item">
									<%= link_to orders_search_path(:search => ""), :class=>"", remote: true do %>
									<i class="glyphicon glyphicon-tree-conifer navi-icon"></i>
									<span>木材</span>
									<% end %>
								</li>
								<li class="ui-nav-dropdown-separator"></li>
								<li class="ui-nav-dropdown-item">
									<%= link_to orders_search_path(:search => ""), :class=>"", remote: true do %>
									<i class="glyphicon glyphicon-headphones navi-icon"></i>
									<span>工程塑料</span>
									<% end %>
								</li>
								<li class="ui-nav-dropdown-separator"></li>

								<li class="ui-nav-dropdown-item">
									<%= link_to orders_search_path(:search => ""), :class=>"", remote: true do %>
									<i class="glyphicon glyphicon-adjust navi-icon"></i>
									<span>有色金属</span>
									<% end %>
								</li>
								<li class="ui-nav-dropdown-separator"></li>
								
								<li class="ui-nav-dropdown-item">
									<%= link_to orders_search_path(:search => ""), :class=>"", remote: true do %>
									<i class="glyphicon glyphicon-filter navi-icon"></i>
									<span>玻璃纤维</span>
									<% end %>
								</li>
							</ul>
						</div>

					</li>
					<li  class="item">
						<%= link_to orders_path, :class=>"menuItem", remote: true do %>
						<span>新手指引</span>
						<span class="caret"></span>
						<% end %>
					</li>

				</ul>
			</div>

			<div class="header_right">
				<ul class="welcome-signin">
					<!-- <%= link_to "登出", logout_path %> -->
					<% if current_user %>
					<!-- 您好， <b><%= current_user.nickname %> </b>  -->
					<li class="my-profile-link">
						<div class="btn-group">
							<div class="user-avator " data-hover="dropdown" data-delay="100">
								<%= link_to dashboard_path(:breadcrumb_path_key => 'homepage,dashboard'), :class=>"dash-profile", remote: true do %>
								<span>您好，<b><%= current_user.nickname %> </b> </span>
								<span class="caret"></span>
								<% end %>
							</div>

							<ul class="dropdown-menu ui-nav-dropdown" role="menu">
								<li class="ui-nav-dropdown-angle">
									<span></span>
								</li>
								<li class="ui-nav-dropdown-item">
									<!-- TODO not work? -->
									<%= link_to dashboard_path(:breadcrumb_path_key => 'homepage,dashboard'), :class=>"", remote: true do %>
									<span>总览</span>
									<% end %>
								</li>
								<li class="ui-nav-dropdown-item">
									<a href="#">消息</a>
								</li>
								<li class="ui-nav-dropdown-separator"></li>
								<li class="ui-nav-dropdown-item">
									<%= link_to dashboard_purchases_path(:breadcrumb_path_key => 'homepage,dashboard,myPurchase'), :class=>" ", remote: true  do %>
									<span>我的采购</span>
									<% end %>
								</li>
								<li class="ui-nav-dropdown-item">
									<a href="#">我的竞价</a>
								</li>

								<li class="ui-nav-dropdown-separator"></li>
								<li class="ui-nav-dropdown-item">
									<%= link_to "退出", logout_path %>
								</li>
							</ul>

						</div>
					</li>
					<% else %>
					<li class="logon-register">
						<%= link_to "登录",  login_path, remote: true %>
					</li>
					<li class="logon-register">
						<%= link_to "注册", signup_path %>
					</li>
					<% end %>

					<!-- <li class="help">
					<span>帮助</span>
					<span class="arrowDown"></span>

					</li> -->

				</ul>

				<!-- <div class="helpDropdownlist">
				<ul class="dropdown_list">
				<li class="item" data-name="11" data-item="test1">
				<span>test1</span>
				</li>
				<li class="item" data-name="12" data-item="test2">
				<span>test2</span>
				</li>
				<li class="item" data-name="13" data-item="test3">
				<span>test3</span>
				</li>
				</ul>
				</div> -->

				<%= link_to orders_new_path, :class=>"create_purchase_order_btn", remote: true do %>
				<span class="create_po_text">免费发布采购单</span>
				<% end %>

			</div>

			<!-- <div class="categorySeleted">化学化工</div> -->

		</div>
	</div>

</div>
<% end %>