<% content_for :header do %>
<div class="header">

	<div class="headerHelper">
		<div class="helper">
			<div class="hpRight">
				<div class="helperLink">
					首页
				</div>
				<div class="helperLink">
					我的壹百万
				</div>
				<div class="helperLink">
					常见问题
				</div>
			</div>
		</div>
	</div>

	<div class="headMain">

		<div class="masthead">

			<div>
				<%= link_to orders_path, :class=>"logoWrapper", remote: true do %>
				<% end %>
			</div>

			<div class="menuBar">
				<ul class="navMenu">
					<li>
						<%= link_to orders_search_path(:search => ""), :class=>"menuItem", remote: true do %>
						<span>发现采购单</span>
						<% end %>
					</li>
					<li>
						<%= link_to orders_path, :class=>"menuItem", remote: true do %>
						<span>新手指引</span>
						<% end %>
					</li>

				</ul>
			</div>

			<div class="header_right">
				<ul class="welcome-signin">
					<!-- <%= link_to "登出", logout_path %> -->
					<% if current_user %>
					<!-- 您好， <b><%= current_user.nickname %> </b>  -->
					<li class="my-profile-link">
						<%= link_to dashboard_path, :class=>"", remote: true do %>
						<span>您好，<b><%= current_user.nickname %> </b> </span>
						<span class="caret"></span>
						<%= link_to "出", logout_path %>
						<% end %>
					</li>
					<% else %>
					<li class="logon">
						<%= link_to "登录",  login_path, remote: true %>
					</li>
					<li class="register">
						<%= link_to "注册", signup_path %>
					</li>
					<% end %>

					<!-- <li class="help">
						<span>帮助</span>
						<span class="arrowDown"></span>

					</li> -->

				</ul>

				<!-- <div class="helpDropdownlist">
				<ul class="dropdown_list">
				<li class="item" data-name="11" data-item="test1">
				<span>test1</span>
				</li>
				<li class="item" data-name="12" data-item="test2">
				<span>test2</span>
				</li>
				<li class="item" data-name="13" data-item="test3">
				<span>test3</span>
				</li>
				</ul>
				</div> -->

				<%= link_to orders_new_path, :class=>"create_purchase_order_btn", remote: true do %>
				<span class="create_po_text">免费发布采购单</span>
				<% end %>

			</div>

			<!-- <div class="categorySeleted">化学化工</div> -->

		</div>
	</div>

</div>
<% end %>