<% content_for :header do %>
<div class="header">
	<div class="header-top-row">
		<span class="welcome-signin">欢迎来到壹百万，
			<% if current_user %>
			当前登录为: <b><%= current_user.nickname %> </b> <%= link_to "登出", logout_path %>			
			<span class="my-profile-link"><%= link_to "我的壹百万",  user_profile_path, remote: true %> </span>
			<% else %>
			请<%= link_to "登录",  login_path %> 或 <%= link_to "免费注册", signup_path %>
			<% end %> </span>
		<span class="service-info">服务电话: 400-830-4545 </span>
		

	</div>

	<div class="header-middle-row">
		<ul>
			<li>
				<a href="./"> <span class="logo"></span> </a>
			</li>
			<li class="padding-top-40">
				<span class="intro-text"> 全国领先的原材料商品交易平台 </span>
			</li>
			<li>
				<span class="feature-list"> </span>
			</li>
	</div>


	
</div>

<% end %>