<% content_for :header do %>
<div class="header">

	<div class="masthead">

		<div class="logo_wrap"></div>

		<div class="menu_bar" role="menu">
			<ul class="home-nav-menu">
				<li>
					<%= link_to "首页", orders_path, remote: true %>
				</li>
				<li>
					<%= link_to "发现采购单", orders_search_path(:search => ""), remote: true %>
				</li>
				<li>
					<%= link_to "关于壹百万" %>

				</li>

			</ul>
		</div>

		<div class="header_right">
			<ul class="welcome-signin">
				<% if current_user %>
				当前登录为: <b><%= current_user.nickname %> </b> <%= link_to "登出", logout_path %>
				<li class="my-profile-link">
					<%= link_to "我的壹百万",  user_profile_path, remote: true %>
				</li>
				<% else %>
				<li class="logon">
					<%= link_to "登录",  login_path, remote: true %>
				</li>
				<li class="register">
					<%= link_to "免费注册", signup_path, remote: true %>
				</li>
				<% end %>
			</ul>

			<div class="create_purchase_order_btn">
				<span class="create_po_text"><%= link_to "发布您的采购单", orders_new_path, remote: true %></span>
			</div>

		</div>
	</div>

</div>
<% end %>