<div class="home_menu_navbar">

	<ul class="menu_bar" role="menu">
		<li>
			<ul class="home-nav-menu">
				<li class="home-menu-category">
					分类筛选
				</li>
				<li>
					<%= link_to "首页", orders_path, remote: true %>
				</li>
				<li>
					<%= link_to "发现采购单", orders_search_path(:search => ""), remote: true %>
				</li>
				<li>
					<%= link_to  '我要下单', new_order_path, remote: true  %>
				</li>
				<li>
					<%= link_to "发现供应商" %>
					
				</li>
				<li>
					<%= link_to "什么是壹百万" %>
				</li>

			</ul>
		</li>

		<li>
			<div class="search-bar">
				<%= form_tag orders_search_path, :method => :get, :remote => true do %>
				<p>
					<%= text_field_tag :search, params[:search] %>
					<%= submit_tag "搜索", :name => nil %>
				</p>
				<% end %>
			</div>
		</li>
	</ul>

</div>
