<div class="home_menu_navbar">

	<ul class="menu_bar" role="menu">
		<li>
			<ul class="home-nav-menu">
				<li>
					<%= link_to "首页", orders_path, remote: true %>
				</li>
				<li>
					<%= link_to "发现采购单", orders_search_path(:search => ""), remote: true %>
				</li>
				<li>
					<%= link_to  '我要下单', new_order_path, remote: true  %>
				</li>
				<li>
					<%= link_to "发现供应商" %>
					
				</li>

			</ul>
		</li>

		
		<li>
			<span class="welcome-signin">
			<% if current_user %>
			当前登录为: <b><%= current_user.nickname %> </b> <%= link_to "登出", logout_path %>			
			<span class="my-profile-link"><%= link_to "我的壹百万",  user_profile_path, remote: true %> </span>
			<% else %>
			<%= link_to "登录",  login_path %> <%= link_to "免费注册", signup_path %>
			<% end %> </span>
		</li>
	</ul>

</div>
