<div class="left-wrapper">

	<%= link_to "", './', class:"logo_wrap" %>

	<div class="side-menu" id="sidebar">
		<ul>
			<li>
				<%= link_to dashboard_path(:breadcrumb_path_key => 'homepage,dashboard'), :class=>" ", remote: true  do %>
				<i class="glyphicon  glyphicon-home user-tool-icon"></i>
				<span>总览</span>
				<% end %>
				<div class="triangle-left"></div>
			</li>

			<li>
				<%= link_to dashboard_purchases_path(:breadcrumb_path_key => 'homepage,dashboard,myPurchase'), :class=>" ", remote: true  do %>
				<i class="glyphicon glyphicon-gift user-tool-icon"></i>
				<span>下单</span>
				<% end %>
			</li>

			<li>
				<%= link_to orders_search_path(:search => ""), :class=>" ", remote: true  do %>
				<i class="glyphicon glyphicon-search user-tool-icon"></i>
				<span>找单</span>
				<% end %>
			</li>

			<li>
				<%= link_to dashboard_vendings_path(:breadcrumb_path_key => 'homepage,dashboard,myVending'), :class=>" ", remote: true  do %>
				<i class="glyphicon glyphicon-hand-up user-tool-icon"></i>
				<span>竞单</span>
				<% end %>
			</li>

			<!-- <li>
			<%= link_to dashboard_profile_path, :class=>" ", remote: true  do %>
			<i class="glyphicon  glyphicon-home user-tool-icon"></i>
			<span>公司</span>
			<% end %>
			</li> -->

<!--  hide the two menu items 
			<li>
				<%= link_to dashboard_msg_path(:breadcrumb_path_key => 'homepage,dashboard,myMessage'), :class=>" ", remote: true do %>
				<i class="glyphicon  glyphicon-envelope user-tool-icon"></i>
				<span>消息</span>
				<% end %>
			</li>

			<li>
				<%= link_to dashboard_settings_path(:breadcrumb_path_key => 'homepage,dashboard,mySetting'), :class=>" ", remote: true do %>
				<i class="glyphicon  glyphicon-signal user-tool-icon"></i>
				<span>报表</span>
				<% end %>
			</li>
			
-->
			<!-- <li>
			<%= link_to dashboard_settings_path, :class=>" ", remote: true do %>
			<i class="glyphicon  glyphicon-cog user-tool-icon"></i>
			<span>设置</span>
			<% end %>
			</li> -->

		</ul>

	</div>

</div>