<!DOCTYPE html>
<html>
	<head>
		<title>BidGate</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>

		<%= javascript_include_tag "application" %>

		<%= csrf_meta_tags %>
		
		<link rel="stylesheet" href="javascripts/SlickGrid/slick.grid.css" type="text/css"/>
		<link rel="stylesheet" href="javascripts/SlickGrid/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/>

	</head>
	<body>
		<%= render "layouts/header" %>
		<%= yield :header %> <!-- THIS NOT WORK!? -->

		<div>
		<div class="content_area">
			<%= yield %>
		</div>
		</div>

		<div class="right_wrapper">

		</div>

		<%= render "layouts/footer" %>
		<%= yield :footer %> <!-- THIS NOT WORK!? -->

		<div id="dialog_logon" class="dialog_logon"></div>

	</body>
</html>
