<!DOCTYPE html>
<html>
	<head>
		<title>BidGate</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

	</head>
	<body>
		<%= render "layouts/header" %>
		<%= yield :header %>

		<div class="left_area">
			<div class="category_area">
				<%= render "categories/tree", :object => Category.all_categories_tree %>
			</div>

		</div>

		<div class="content_area">
			<%= yield %>
		</div>

		<div class="right_area">
			<div class="hot_tags_area">
				<%= render "orders/hot_tags" %>
			</div>
		</div>

		<%= render "layouts/footer" %>
		<%= yield :footer %>

	</body>
</html>
