<!DOCTYPE html>
<html>
	<head>
		<title>BidGate - 找到最低采购价</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>

		<%= javascript_include_tag "application" %>

		<%= csrf_meta_tags %>

	</head>
	<body>
		<%= render "layouts/header" %>
		<% if current_user %>
			<%= render "layouts/left_wrapper" %>
			<%= render "layouts/right_wrapper" %>
		<% end %>
		
		
		<%= yield :header %> <!-- THIS NOT WORK!? -->

		<div class="main">			
			
			<div class="content_area">
				<% if @home_layout %>
				<%= render "layouts/homepage" %>
				<% else %>			
				<%= yield %>
				<% end %>
			</div>
			

		</div>

		<%= render "layouts/footer" %>
		<%= yield :footer %> <!-- THIS NOT WORK!? -->

	</body>
</html>
